@media ( max-width:990px)
@media (max-width:768px)
  .container
    width: 80%
  .performance
    flex-direction: column-reverse
    align-items: center
    text-align: center
    padding-top: 30px
@media ( max-width:576px)
  .container
    width: 60%
  .navbar
    padding-right: 18px
    &__item
      display: none
    &__btn
      display: block
  .performance
    &__title
      padding-top: 40px
      padding-bottom: 20px
      font-style: normal
      font-weight: 700
      font-size: 32px
      line-height: 40px
    &__text
      width: 328px
    &__photo
      height: 170px
      width: 170px
